<p><strong>Focusable</strong> - {{ 'examples.focused.description' | transloco }}.</p>
<p>
  {{ 'press' | transloco }} <span class="button">Tab</span> {{ 'examples.focused.to_choose_card' | transloco }}
  <!-- to choose card and -->
  <span class="button">up</span>, <span class="button">down</span>, <span class="button">left</span>,
  <span class="button">right</span> {{ 'examples.focused.to_change_focusable_elements' | transloco }}.
</p>
<!-- buttons to change focusable elements in list -->

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card pipFocused>
    <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card pipFocused pipFocusedOpacity="true" [focusedData]="collection">
    <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card pipFocused pipFocusedOpacity="true" focusedColor="#EF6C00" focusedData="collection">
    <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
      <mat-list-item class="pip-focusable"
                     tabindex="-1">{{ 'examples.focused.focusable_element' | transloco }}</mat-list-item>
    </mat-list>
  </mat-card>
</div>
