<p [ngClass]="{ 'raised-bg': raisedBg, 'raised-fg': raisedFg }">
  <strong>Hotkeys</strong> - {{ 'examples.hotkeys.description' | transloco }}.
</p>
<dl>
  <dd>Ctrl+Alt+L</dd>
  <dt>{{ 'examples.hotkeys.language_change' | transloco }}</dt>
  <dd>Ctrl+Altt+F</dd>
  <dt>{{ 'examples.hotkeys.state_change' | transloco }}</dt>
</dl>
<dl>
  <dd>Alt+H</dd>
  <dt>{{ 'examples.hotkeys.change_background' | transloco }}</dt>
  <dd>Alt+.</dd>
  <dt>{{ 'examples.hotkeys.change_foreground' | transloco }}</dt>
</dl>
